body {
    margin-left: 11vw;
    margin-right: 11vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
    font-family: 'Noto Sans', sans-serif;
    color: #1d2326;
}

h1 {
    color: #958976;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #958976;
    font-size: 27px;
    font-weight: lighter;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.images {
    padding: 1vw;
    width: 28vw;
}

.images3 {
    padding: 1vw;
    width: 19vw;
}

.maquette {
    padding: 1vw;
    width: 28vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    text-align: center;
}

hr {
    color: #737373;
    line-height: normal;
}