#document {  /* pour que les éléments soient bien répartis sur la page */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body {
    
    font-size: 16; /* ajout D */
    line-height: 1.5; /* ajout D */
    height: 100%; /* ajout D */
    min-height:100%; /* ajout D */
    max-width: 1140px; /* ajout D */
}


h1 {
    color: #958976;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #958976;
    font-size: 27px;
    font-weight: lighter;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

/* ajout Daphné */

img {
    height: auto;
    max-width: 100%;
    width:auto
}

figure {
    margin:0
}


.images {
    padding: 1vw;
    width: 28vw;
}

.images3 {
    padding: 1vw;
    width: 17vw;
}

/* 4 images de large */
.images4 {
    padding: 0,5vw;
    width: 14vw;
}

#legende-ligne {
    text-align: left;
    display: block;
    font-size: 10;
}

figcaption {
    display: initial;
    text-align: center;
    width: 14vw;
}

.audio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5vw; 
    text-align: center;
}

.citation {
    margin-left: 25vw;
    text-align: right;
}

footer {
  padding: 30px;
  background: url(footer.jpg);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
}

#texte-footer{
  padding: 30px;
  /*color: #1d2326;*/
  }
