body {
    margin-left: 11vw;
    margin-right: 11vw;
    margin-top: 15vw;
    margin-bottom: 6vw;
    font-family: 'Noto Sans', sans-serif;
    color: #1d2326;
}

/*Style du menu - top nav */
.topnav {
  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0px;
  width: 100%;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    margin-top: 60px;
    text-decoration: none;
    font-size: 30px;
  }

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #958976;
    color: black;
  }

h1 {
    color: #958976;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #958976;
    font-size: 27px;
    font-weight: lighter;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.images {
    padding: 1vw;
    width: 28vw;
}

.images3 {
    padding: 1vw;
    width: 18vw;
}

figcaption {
    text-align: center;
}
