body {
    margin-left: 11vw;
    margin-right: 11vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
    font-family: 'Noto Sans', sans-serif;
    color: #1d2326;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  

h1 {
    color: #958976;
    font-size: 36px;
    font-weight: bold;
}

h2 {
    color: #958976;
    font-size: 27px;
    font-weight: lighter;
}

.galerie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3vw;
}

.images {
    padding: 1vw;
    width: 28vw;
}

.images3 {
    padding: 1vw;
    width: 18vw;
}

figcaption {
    text-align: center;
}
